{% extends 'base.html' %}
{% block pagetitle %}
Plant Disease Detection
{% endblock pagetitle %}
{% block body %}
<style>
  body{
    overflow-x: hidden;
  }
  @media only screen and (max-width: 830px) {
    .laptop{
      display: none;
    }
  }
</style>
</div>
<div class="container mt-5">
  
  <div class="card mx-auto">
    <legend>
      <div class="col-lg-10 mx-auto">
      <center class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>Plant Disease
              Detection</b></center>
      </div>
    </legend>
      <div class="card-body">
        <center class="laptop">
          <a href="/index">
          <button class = "bttn-pill bttn-lg"><b style="color: black;">Start Detection</b></button>
      </a>
      </center>
      </div>
  </div>
</div> 



</center>

{% endblock body %}
