<html>
{% extends 'base.html' %}
{% block pagetitle %}
Plant detection
{% endblock pagetitle %}

{% block body %}
<div>
    <div class="container">
        <!-- For demo purpose -->
        <div class="row mb-5 text-center text-white">
            <div class="col-lg-10 mx-auto">
                <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>🍀AI Engine🍀</b></h1>
                <p class="lead" style="font-weight: 500;color: black;">Let AI Engine Will Help You To Detect Disease</p>
            </div>
        </div>
        <!-- End -->
        <div class="row ">
            <div class="col mx-auto">
                <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
                    <img id="img_dis"
                        height="300" alt="" width="250" class="d-block mx-auto mb-4 bg-light">

                    <!-- Default bootstrap file upload-->

                    <form action="/submit" method="POST" enctype="multipart/form-data">
                        <div class="custom-file overflow-hidden mb-4">
                            <input type="file" id="actual-btn" hidden name="image" />
                            <label for="actual-btn">Chọn file</label>
                            <span id="file-chosen">Chưa có file</span>
                        </div>

                        <!-- End -->

                        <h6 class="text-center mb-4 text-muted">
                            Vui lòng chọn ảnh chứa lá bị nhiễm
                        </h6>

                        <!-- Custom bootstrap upload file-->
                        <center>
                            <a class="mx-2"><button type="submit" class="btn btn-outline-success">Submit</button></a>
                        </center>
                    </form>
                    <!-- End -->

                </div>
            </div>
            <div class="col mx-auto">
                <div class="p-5 bg-white shadow rounded-lg" style="height: 95%;">
                    <h5><b>Ngăn chặn Bệnh cây theo các bước dưới đây:</b></h5>
                    <ol>
                        <li>Tiến hành Thực hành Vệ sinh Tốt.</li>
                        <li>Bón phân để Giữ cho Cây của bạn Khỏe mạnh.</li>
                        <li>Kiểm tra Cây để Phát hiện Bệnh Trước khi Mang về Nhà.</li>
                        <li>Đảm bảo đất ấm trước khi Trồng.</li>
                        <li>Đảm bảo Một Vườn Rau Khỏe mạnh bằng cách Luân phiên Cây trồng.</li>
                        <li>Cung cấp Sự lưu thông không khí tốt.</li>
                        <li>Loại bỏ Các thân và Lá bị nhiễm bệnh.</li>
                    </ol>
                </div>
                
            </div>
        </div>
    </div>
</div>

<script>
    const actualBtn = document.getElementById('actual-btn');

    const fileChosen = document.getElementById('file-chosen');

    actualBtn.addEventListener('change', function () {
        fileChosen.textContent = this.files[0].name;
        var reader = new FileReader();
        reader.onload = function (e) {
            document.getElementById('img_dis').src = e.target.result;
        }
        reader.readAsDataURL(this.files[0]);
    })
</script>

{% endblock body %}
